body{
    padding: 40px 40px;
    background: linear-gradient(70deg, burlywood, rgb(46, 26, 25));
    height: 100vh;
    box-sizing: border-box;
}

#root{
    text-align: center;
}

#deck{
    margin: 20px 20px;
    border: 12px solid burlywood;
    display: inline-block;
}

.line{
    display: flex;
    background-color: burlywood;
}

.cell{
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px 10px;
    /* Фигура должна быть 60px */
}


.black-cell{
    background-color: rgb(46, 26, 25);
}

.white-cell{
    background-color: rgb(181, 116, 72);
}

.btn{
    background-color: burlywood;
    border-color: rgb(46, 26, 25);
}
.btn:hover{
    background-color: rgb(46, 26, 25);
    border-color: rgb(181, 116, 72);
    color: rgb(181, 116, 72);
}
.figure>svg{
    filter: drop-shadow(4px 6px 1px red);
}

.figure:hover{
    cursor: pointer;
}


.focus-cell{
    border: 4px solid rgb(72, 181, 143) !important;
    padding: 8px 8px 8px 8px;
}
.current-cell{
    border: 4px solid rgb(92, 72, 181);
    padding: 8px 8px 8px 8px;
}
.possible-next-cell{
    border: 4px solid rgb(172, 181, 72);
    padding: 8px 8px 8px 8px;
}

#message{
    margin-top: 40px;
    background-color: burlywood;
    width: 100%;
}
